@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Mynor-Regular";
  src: local("Mynor-Regular"),
    url("./assets/fonts/Mynor-Regular.woff") format("woff");
  font-display: swap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Mynor-Regular";
  --antd-wave-shadow-color: #FE3D0C!important;

}
body {
  margin: 0;
  font: 19px / 23px Mynor-Regular, "Mynor-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
      --antd-wave-shadow-color: #FE3D0C!important;
  }
}

a {
  color: #FE3D0C!important;
}